*{
	margin: 0px;
	padding: 0px;
}
.a1{
	width: 30%;
	height: 400px;
	border: solid 1px green;
	float: left;
	overflow: hidden;
}
.a2{
	width: 30%;
	height: 200px;
	float: left;
	border: solid 1px red;
}
.a3{
	width: 49%;
	height: 200px;
	float: left;
	border: solid 1px black;
}
.a4{
	width: 49%;
	height: 400px;
	float: left;
	border: solid 1px black;
}
.a5{
	width: 100%;
	height: 200px;
	float: left;
	border: solid 1px red;
}